// global color tokens
$-clr-pure-white: hsl(0, 0%, 100%);
$-clr-light-gray: hsl(217, 12%, 63%);
$-clr-medium-gray: hsl(216, 12%, 54%);
$-clr-dark-blue: hsl(213, 19%, 18%);
$-clr-very-dark-blue: hsl(216, 12%, 8%);
$-clr-orange: hsl(25, 97%, 53%);

$light: (
  "neutral": (
    "100": $-clr-pure-white,
    "200": $-clr-light-gray,
    "300": $-clr-medium-gray,
    "800": $-clr-dark-blue,
    "900": $-clr-very-dark-blue,
  ),
  "primary": (
    "400": $-clr-orange,
  ),
);

// $dark: (
//   "neutral": (
//     "1000": $-clr-white,
//     "900": $-clr-gray-100,
//     "800": $-clr-gray-200,
//     "700": $-clr-gray-300,
//     "600": $-clr-gray-400,
//     "500": $-clr-gray-500,
//     "400": $-clr-gray-600,
//     "300": $-clr-gray-700,
//     "200": $-clr-gray-800,
//     "100": $-clr-gray-900,
//     "000": $-clr-black,
//   ),
//   "accent": (
//     "900": $-clr-deeppink-900,
//     "800": $-clr-deeppink-800,
//     "700": $-clr-deeppink-700,
//     "600": $-clr-deeppink-600,
//     "500": $-clr-deeppink-500,
//     "400": $-clr-deeppink-400,
//     "300": $-clr-deeppink-300,
//     "200": $-clr-deeppink-200,
//     "100": $-clr-deeppink-100,
//   ),
//   "primary": (
//     "900": $-clr-skyblue-900,
//     "800": $-clr-skyblue-800,
//     "700": $-clr-skyblue-700,
//     "600": $-clr-skyblue-600,
//     "500": $-clr-skyblue-500,
//     "400": $-clr-skyblue-400,
//     "300": $-clr-skyblue-300,
//     "200": $-clr-skyblue-200,
//     "100": $-clr-skyblue-100,
//   ),
// );

// contextual color tokens
$color-neutral-100: var(--neutral-100);
$color-neutral-200: var(--neutral-200);
$color-neutral-300: var(--neutral-300);
$color-neutral-800: var(--neutral-800);
$color-neutral-900: var(--neutral-900);

$color-primary-400: var(--primary-400);
