$-ff-sans: "Overpass", sans-serif;

$font-family-base: $-ff-sans;

$font-sizes: (
  "small": (
    "700": 1.5rem,
    "400": 0.875rem,
    "300": 0.875rem,
    "200": 0.6875rem,
  ),
  "large": (
    "700": 1.75rem,
    "400": 1rem,
    "300": 0.9375rem,
    "200": 0.6875rem,
  ),
);

$font-size-200: var(--fs-200);
$font-size-300: var(--fs-300);
$font-size-400: var(--fs-400);
$font-size-700: var(--fs-700);

$-fw-400: 400;
$-fw-700: 700;

$font-weight-default: $-fw-400;
$font-weight-bold: $-fw-700;
