---
import Layout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
import RoundBadge from "../components/RoundBadge.astro";
import FeedbackForm from "../components/FeedbackForm.astro";
---

<Layout title="Frontend Mentor | Interactive rating component">
  <div class="container">
    <h1 class="visually-hidden">Interactive rating component</h1>
    <Card>
      <RoundBadge
        width="40px"
        height="40px"
        desktopWidth="48px"
        desktopHeight="48px"
      >
        <img class="icon-star" src="/assets/images/icon-star.svg" alt="" />
      </RoundBadge>
      <!-- Rating state start -->
      <FeedbackForm />
      <!-- Rating state end -->
    </Card>
  </div>
</Layout>

<style lang="scss">
  @use "../styles/abstracts/" as *;

  .icon-star {
    width: 13px;
    height: 12px;

    @include mq(medium) {
      width: 17px;
      height: 16px;
    }
  }
</style>
