---
import Button from "./Button.astro";
import RatingSelector from "./RatingSelector.astro";
---

<form action="/thank-you">
  <fieldset>
    <legend class="heading-1">How did we do?</legend>
    <p>
      Please let us know how we did with your support request. All feedback is
      appreciated to help us improve our offering!
    </p>
    <RatingSelector />
    <Button theme="primary">Submit</Button>
  </fieldset>
</form>

<style lang="scss">
  @use "../styles/abstracts/" as *;

  form {
    margin-block-start: $size-4;
  }

  fieldset {
    display: grid;
  }

  p {
    margin-block-start: $size-4;
  }
</style>
